:root {
  --color-lime-green: #54E6AF;
  --color-pale-cyan: #B3FFE2;
  --color-very-dark-blue: #121725;
  --color-dark-blue: #2C344B;
  --color-light-dark-blue: #5A668A;
  --color-grayish-blue: #C2CBE5;
  --color-white: #FFF;
  --color-red: #FB3E3E;
  --ff-base: "Chivo", sans-serif;
  --fw-light: 100;
  --fw-regular: 400;
  --fw-bold: 700;
  --max-width-mobile: 37.5rem;
  --max-width-tablet: 76.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-very-dark-blue);
  display: grid;
  justify-content: center;
  align-content: start;
  min-height: 100vh;
}

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-light);
}

.heading-main {
  font-weight: inherit;
  font-size: 2.6rem;
  line-height: 3.8rem;
  text-transform: uppercase;
  color: var(--color-white);
}
.heading-main__highlite {
  color: var(--color-lime-green);
}
@media only screen and (min-width: 48em) {
  .heading-main {
    font-size: 4.8rem;
    line-height: 5.6rem;
  }
}

.paragraph {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--color-grayish-blue);
}
@media only screen and (min-width: 48em) {
  .paragraph {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

.error-msg-text {
  font-weight: var(--fw-bold);
  font-size: 1.2rem;
  color: var(--color-red);
}

.form-text {
  font-family: inherit;
  font-weight: var(--fw-bold);
  font-size: 1.4rem;
  line-height: 2.8rem;
}

.visually-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.container {
  width: 100%;
  max-width: var(--max-width-mobile);
  padding: 6.2rem 2.4rem 9.4rem 2.4rem;
  display: grid;
  justify-items: center;
  background: no-repeat url("../assets/mobile/image-host.jpg"), var(--color-very-dark-blue);
  background-blend-mode: multiply;
}
@media only screen and (min-width: 48em) {
  .container {
    max-width: var(--max-width-tablet);
    padding: 5rem 9.4rem 25.7rem 3.9rem;
    justify-items: start;
    background: no-repeat bottom 0 left 3rem url("../assets/desktop/bg-pattern-dots.svg"), no-repeat right 0 top 0 url("../assets/tablet/image-host.jpg"), var(--color-very-dark-blue);
    background-blend-mode: normal;
  }
}

.header {
  padding-bottom: 15.2rem;
}

.content {
  text-align: center;
}
.content .heading-main {
  margin-bottom: 1.6rem;
}
.content .paragraph {
  margin-bottom: 3.3rem;
}
.content .stream-services {
  margin-bottom: 4.8rem;
}
@media only screen and (min-width: 48em) {
  .content {
    text-align: left;
    padding-top: 9.3rem;
    background-color: var(--color-very-dark-blue);
    display: grid;
    grid-template-areas: "heading" "paragraph" "form" "services";
  }
  .content .heading-main {
    grid-area: heading;
    margin-bottom: 3.1rem;
  }
  .content .paragraph {
    grid-area: paragraph;
    max-width: 44.5rem;
    margin-bottom: 4rem;
  }
  .content .stream-services {
    grid-area: services;
    max-width: 53.6rem;
    margin-bottom: 0rem;
  }
  .content .form {
    grid-area: form;
    max-width: 42.7rem;
    margin-bottom: 6.4rem;
  }
}

.stream-services {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.stream-services__spotify {
  width: 5.6rem;
}
.stream-services__apple-podcast {
  width: 4.5rem;
}
.stream-services__google-podcasts {
  width: 7.3rem;
}
.stream-services__pocket-casts {
  width: 7.7rem;
}
@media only screen and (min-width: 48em) {
  .stream-services {
    justify-content: space-between;
  }
  .stream-services__spotify {
    width: auto;
  }
  .stream-services__apple-podcast {
    width: auto;
  }
  .stream-services__google-podcasts {
    width: auto;
  }
  .stream-services__pocket-casts {
    width: auto;
  }
}

.form {
  display: grid;
  gap: 1.6rem;
}
.form__input {
  padding: 0.9rem 0rem;
  border: none;
  border-radius: 2.8rem;
  padding-left: 3.2rem;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}
.form__input::placeholder {
  color: var(--color-white);
  opacity: 0.5;
}
.form__input:focus {
  outline: none;
}
@media only screen and (min-width: 48em) {
  .form {
    gap: 0;
    grid-template-columns: 1fr 16.7rem;
    align-items: center;
  }
  .form__input {
    padding: 1.4rem 0 1.4rem 3.2rem;
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  .form .btn-main {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-right: 0.5rem;
  }
}

.btn-main {
  padding: 0.9rem 0rem;
  border: none;
  border-radius: 2.8rem;
  background-color: var(--color-lime-green);
  color: var(--color-very-dark-blue);
  transition: background-color 0.25s ease-out;
}
.btn-main:hover {
  cursor: pointer;
  background-color: var(--color-pale-cyan);
}

/*# sourceMappingURL=style.css.map */
