.container {    
    background: 
        no-repeat url("../assets/mobile/image-host.jpg"), 
        var(--color-very-dark-blue);

    background-blend-mode: multiply;

    display: grid;
    justify-items: center;
}