.header {
    padding-bottom: 5.7rem;

    @media only screen and (min-width: $bp-tablet) {
        padding-bottom: 15.2rem;
    }

    @media only screen and (min-width: $bp-desktop) {
        padding-bottom: 10.3rem;
    }
}