.form {
    display: grid;
    gap: 1.6rem;

    &__input {
        @include form-element-setup;
        
        padding-left: 3.2rem;
        background-color: var(--color-dark-blue);
        color: var(--color-white);

        &::placeholder {
            color: var(--color-white);
            opacity: 0.5;
        }

        &:focus {
            outline: none;
        }
    }

    @media only screen and (min-width: $bp-tablet) {
        gap: 0;
        grid-template-columns: 1fr 16.7rem;
        align-items: center;

        &__input {
            padding: 1.4rem 0 1.4rem 3.2rem; 
            grid-column: 1 / -1;
            grid-row: 1 / 2;
        }

        & .btn-main {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            margin-right: 0.5rem;
        }

    }
}
