:root {
    --color-lime-green: #54E6AF;
    --color-pale-cyan: #B3FFE2;
    --color-very-dark-blue: #121725;
    --color-dark-blue: #2C344B;
    --color-light-dark-blue: #5A668A;
    --color-grayish-blue: #C2CBE5;
    --color-white: #FFF;
    --color-red: #FB3E3E;

    --ff-base: 'Chivo', sans-serif;
    --fw-light: 100;
    --fw-regular: 400;
    --fw-bold: 700;

    --max-width-mobile: 37.5rem;
    --max-width-tablet: 76.8rem;
    --max-width-desktop: 144rem;
}

// Breakpoints
$bp-tablet: 48em; // 768px
$bp-desktop: 90em; // 1440px

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--color-very-dark-blue);
    display: grid;
    justify-content: center;
    align-content: start;
    min-height: 100vh;
}
